body {
    
    background-color: #ff8800;
    padding-top: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    aling-items: center;
    margin-bottom: 10px;
}

.botones button{
    padding: 20px;
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    border: 1px solid #000000
    padding: 20px 20px;
    cursor: pointer;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;

}

.botones button:hover{
    background-color: aliceblue;
}

.cajaTexto {
display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;

}

.resultado {
    display: flex;
    flex-direction: row;
    justify-content: center;

}




    

